/* login and signup form */
.auth-card {
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 10px auto !important;
}

/* profile card */
.my-card {
  margin-top: 30px;
}

.home-card {
  width: 500px;
  height: max-content;
  margin: 26px auto !important;
}

.input-field input:focus {
  border-bottom: 1px solid rgb(8, 93, 252) !important;
  box-shadow: 0 1px solid rgb(8, 93, 252) !important;
}

.profile {
  display: flex;
  justify-content: space-around;
  margin: 18px 0px;
  border-bottom: solid;
}

.avatar {
  width: 160px;
  height: 160px; 
  border-radius: 80px;
}

.postFollowContainer {
  display: flex;
  justify-content: space-between;
  width: 108%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.item {
  width: 30%;
}

.custom-container {
  max-width: 1050px;
  margin: 0px auto;
}

.create-post-container {
  max-width: 500px;
  margin: 10px auto !important;
  padding: 20px;
  text-align: center;
}

#toast-container {
  top: 30px !important;
  right: 20px !important;
  left:auto !important
}

.mi-margins {
  margin: 0 5px 0 5px;
}

.material-icons:hover {
  cursor: pointer;
}

.no-color-link {
  color: black !important
}

.hidden-div {
  display: none;
}