@media only screen and (max-width: 600px) {
  html {
    font-size: 12px !important;
  }
  body {
    background-color: pink;
  }
  .avatar {
    width: 125px;
    height: 125px;
  }
} /* for smaller tablets */

@media only screen and (min-width: 600px) {
  html {
    font-size: 14px !important;
  }
  body {
    background-color: yellow;
  }
  .avatar {
    width: 125px;
    height: 125px;
  }
} /* for smaller tablets */

@media only screen and (min-width: 768px){
  html {
    font-size: 14px !important;
  }
  body {
    background-color: green;
  }
  .avatar {
    width: 150px;
    height: 150px;
  }
} /* for large tablets */

@media only screen and (min-width: 992px) {
  html {
    font-size: 16px !important;
  }
  body {
    background-color: blue;
  }
  .avatar {
    width: 175px;
    height: 175px;
  }
} /* for laptops */

@media only screen and (min-width: 1200px) {
  html {
    font-size: 16px !important;
  }
  body {
    background-color: red;
  }
  .avatar {
    width: 200px;
    height: 200px;
  }
} /* for desktops */

.row .col{
  float: none !important;
  margin-left: auto;
  margin-right: auto;
}

/* display cards */
.auth-card {
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 10px auto !important;
}

.my-card {
  margin-top: 30px;
}

.input-field input:focus {
  border-bottom: 1px solid rgb(8, 93, 252) !important;
  box-shadow: 0 1px solid rgb(8, 93, 252) !important;
}

.profile {
  display: flex;
  justify-content: space-around;
  margin: 18px 0px;
  border-bottom: solid;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.item {
  width: 30%;
}

.create-post-container {
  max-width: 500px;
  margin: 10px auto !important;
  padding: 20px;
  text-align: center;
}

#toast-container {
  top: 30px !important;
  right: 20px !important;
  left: auto !important
}

.mi-margins {
  margin: 0 5px 0 5px;
}

.material-icons:hover {
  cursor: pointer;
}

.no-color-link {
  color: black !important
}

.hidden {
  display: none;
}