@media only screen and (max-width: 600px) {
  html {
    font-size: 12px !important;
  }
} /* for smaller tablets */

@media only screen and (min-width: 600px) {
  html {
    font-size: 14px !important;
  }
} /* for smaller tablets */

@media only screen and (min-width: 768px){
  html {
    font-size: 14px !important;
  }
} /* for large tablets */

@media only screen and (min-width: 992px) {
  html {
    font-size: 15px !important;
  }
} /* for laptops */

@media only screen and (min-width: 1200px) {
  html {
    font-size: 15px !important;
  }  
} /* for desktops */

/* input fields */
.btn {
  width: 100% !important;
}

.input-field input:focus {
  border-bottom: 1px solid rgb(8, 93, 252) !important;
  box-shadow: 0 1px solid rgb(8, 93, 252) !important;
}

/* login/signup elements */
.auth-card {
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 10px auto !important;
}

/* home page elements */
.my-card {
  margin-top: 50px;
}

.avatar {
  max-width: 100%;
  text-align: center;
}

.post-card {
  max-width: 550px;
  float: none !important;
  margin: auto !important;
}

/* profile elements */
.profile {
  display: flex;
  justify-content: space-around;
  margin: 18px 0px;
  border-bottom: solid;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.item {
  width: 30%;
}

.create-post-container {
  max-width: 500px;
  margin: 10px auto !important;
  padding: 20px;
  text-align: center;
}

#toast-container {
  top: 30px !important;
  right: 20px !important;
  left: auto !important
}

.mi-margins {
  margin: 0 5px 0 5px;
}

.material-icons:hover {
  cursor: pointer;
}

.no-color-link {
  color: black !important
}

.hidden {
  display: none;
}

.item {
  max-width: 300px;
}